<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>Kevin Yang</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
     @RenderBody()
        <footer class="bottomNavigation">
            <div id="about"> About / </div>
            <div id="projects"> Projects / </div>
            <div id="orgs"> Organizations / </div>
            <div id="courses"> Coursework / </div>
            <div id="linkedin"> LinkedIn / </div>
            <div id="contact"> Contact </div>
        </footer>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
